.navbar {
    overflow: hidden;
    background-color: #333;
    padding: 30px 10px;
    border-bottom: 1px solid #fff6e6ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 27px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-brand:hover{
    transform: scale(1.1);
    transition: transform .2s;
}

.navbar-links {
    display: flex;
    gap: 2rem;
    float: right;
    font-family: "Undertype", sans-serif;
}

.nav-link {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.nav-link:visited {
    color: white;
}

.nav-link:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease;
    color: rgb(248, 189, 245);
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-links {
        gap: 1rem;
    }

    .nav-link {
        padding: 0.5rem;
    }
}