@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin 'tailwindcss-spring';

*{
    Font-family: 'Outfit', sans-serif;
}

.polka {
    background-image:
            radial-gradient(rgb(227, 227, 227) 10%, transparent 10%);
    background-position: 20px 20px;
    background-size: 40px 40px;
    background-color: rgb(245, 245, 245);
}